body {text-align:center; background-color:aquamarine;margin-top: 100px;}
img{width: 400px;}
.título1
.parágrafo1 {font-size: 35px; }
.parágrafo2 {text-align: left; font-size: 25px;}
.parágrafo3 {text-align: left; font-size: 25px;}
.parágrafo4 {text-align: left; font-size: 25px;}
.parágrafo5 {text-align: left; font-size: 25px;color: brown;}
